.App {
  text-align: center;
}

.container {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(5, auto);
}

.cardlist {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}